name: Publish Dokka Docs
on:
  push:
    branches:
      - master

# to prevents multiple doc builds from running at the same time
concurrency:
  group: "pages"
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      _JAVA_OPTIONS: "-Xmx2g" # Job-level env (applies to all steps)
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Dokka HTML
        run: ./gradlew :app:dokkaGeneratePublicationHtml --no-daemon
        env:
          _JAVA_OPTIONS: "-Xmx2g"

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: app/build/dokka/html
          branch: gh-pages
          clean: true